priority 0

###########################################################################
#                         Uesr TextMate Snippets                          #
###########################################################################

snippet or "@Override"
@Override
endsnippet
